[Unit]
Description=Run QueryPie Global Documentation Sync daily

[Timer]
OnCalendar=*-*-* 10:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=global-documentation-sync.service

[Install]
WantedBy=timers.target
